@import "tailwindcss";

:root {
  --background: #F4F4F4;
  --foreground: #0C2B4E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C2B4E;
    --foreground: #F4F4F4;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add this to your main global CSS file (e.g., globals.css) */
html,
body {
  height: 100%;
}

/* Also, ensure the root element used by your framework is set to 100% */
/* In Next.js, this might be the main div in your root layout */
#__next { /* or whatever your root element ID/class is */
  height: 100%;
}
